@page "/Bounce"
@inject NavigationManager NavigationManager

<h2>Redirecting....</h2>
@code {
    protected override async Task  OnInitializedAsync()
    {
        await Task.Delay(1);
        NavigationManager.NavigateTo("/");
        //// why won't this deploy anymore
    }
}
