@page "/"
@using SMS.Shared.DTOs.Players;
@using StanwayRonnies.Services;
@inject IPlayerData PlayerData

<PageTitle>Index</PageTitle>
<h1>Stanway Cricket Club</h1>
<p>Up and coming events will appear here....</p>
<p>Fantasy league will appear here...</p>
<p> and more....!</p>
