@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using SMS.Shared.DTOs.Players;
@using SMS.Shared.Models;
@using StanwayRonnies.Services;
@inject IPlayerData PlayerData
@inject IEventData EventData

<PageTitle>Index</PageTitle>
@if (loggedInId == 0)
{
    <WhoAmI />
}
else
{



    <h1>Stanway Cricket Club</h1>
    <h3>Up and coming events....</h3>
    @if (allEvents is not null)
    {
        foreach (var ev in allEvents)
        {

            <EventCard ev="ev" />
            <br />
        }
    }
    else
    {
        <p>No Events</p>
    }
}

@code {
    private IEnumerable<Event> allEvents = new List<Event>();
    private int loggedInId = 0;

    protected async override Task OnInitializedAsync()
    {
        allEvents = await EventData.GetAllEvents();
        allEvents = allEvents.Where(x => x.DateOfEvent >= DateTime.Now.AddDays(-1)).Take<Event>(3).ToList();
        loggedInId = await localStorage.GetItemAsync<int>("memberId");
    }
}
