@page "/monies"
<h3>Monies</h3>
<div class="card">
    <div class="card-header">
        Stanway CC bank details
    </div>
    <div class="card-body">
        <strong>Account No: </strong> 02492862
        <br />
        <strong>Sort Code: </strong> 30-91-87
    </div>
    <div class="card-footer">
        <small>Use for match fees, etc</small>
    </div>
  
    <h5>Match Fees</h5>
    <p>Season subscription £25 by first game and £7 per match</p>
    <p>Otherwise £10 per game</p>

    <h5>Pay via Sum-up</h5>
    <p>Jason or Brian card readers.  Note incurs transaction fee.</p>
    <p>or via teh on-line Sum-up shop here.  <a href="https://stanway-cricket-club.sumupstore.com/" target="_blank">Online Shop</a></p>
</div>
@code {

}
